.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(44,73,77);
  color: white;
  font-weight: bolder;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
 margin-right: 10px;
}

.navLinks {
  display: flex;
  list-style: none;
  align-items: center;
}

.lists {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
