.phoneDetails {
  max-width: 416px;
  padding: 10px;
  margin-bottom: 20px;
}

.imgContainer {
  min-height: 100px;
  max-width: 416px;
}

.img {
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
}
  