@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.details-container {
  margin: 10rem auto 8rem auto;
}

.heading {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
}
